<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
        <servlet-name>createTeam</servlet-name>
        <servlet-class>com.google.appengine.demos.bracket.CreateTeamServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>tournaments</servlet-name>
        <servlet-class>com.google.appengine.demos.bracket.TournamentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTournament</servlet-name>
        <servlet-class>com.google.appengine.demos.bracket.CreateTournamentServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>teams</servlet-name>
        <servlet-class>com.google.appengine.demos.bracket.TeamServlet</servlet-class>
    </servlet>
	    <servlet-mapping>
        <servlet-name>createTeam</servlet-name>
        <url-pattern>/createTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teams</servlet-name>
        <url-pattern>/teams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tournaments</servlet-name>
        <url-pattern>/tournaments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createTournament</servlet-name>
        <url-pattern>/createTournament</url-pattern>
    </servlet-mapping>
</web-app>