body {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#app-header {
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 4px 15px;
    text-shadow: 0 1px 0 #fff;
}

.x-theme-neptune #app-header {
    color: white;
    text-shadow: none;
}

#app-msg {
    background: #D1DDEF;
    border: 1px solid #ACC3E4;
    padding: 3px 15px;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
}
.x-panel-ghost {
    z-index: 1;
}
.x-border-layout-ct {
    background: #DFE8F6;
}

.settings {
    background-image:url(../ext-4.2.1/icons/fam/folder_wrench.png);
}
.nav {
    background-image:url(../ext-4.2.1/icons/fam/folder_go.png);
}
.info {
    background-image:url(../ext-4.2.1/icons/fam/information.png);
}
.team-add {
    background-image:url(../ext-4.2.1/icons/fam/user_add.png);
}
.team-remove {
    background-image:url(../ext-4.2.1/icons/fam/user_delete.png);
}

#logo {
    width: 55px;
    height: 55px;
    overflow:hidden;
    position: relative;
}

#logo img {
    position: absolute;
    width: 61px;
    height: 61px;
    top: -15px;
    left: -10px;
}

.logo-text {
	color: #99CCCC;
	margin-top: -20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

/* highlighted game */
div.jQBracket .team.highlight {
    background-color: #3c0;
    color: #000;
}
/* team picking game */
div.jQBracket .team.picking {
    background-color: #D6EBFF;
    color: #000;
}
/* both */
div.jQBracket .team.picking.highlight {
    background-color: #ADD6FF;
}

.ok {
    /*background-image: url(../img/check-mark.png) !important;*/
    /*background-image: url(../img/blue-white-pearl-icon.png) !important;*/
    /*background-image: url(../ext-4.2.1/resources/ext-theme-neptune/images/dd/drop-add.png);*/
    background-image: url(../ext-4.2.1/resources/ext-theme-neptune/images/dd/check-mark.png);
    width: 5%;
    height: 5%;
    border: none;
}

